 
@media only screen and (max-width: 1200px){
    
    
.hero-text-box{
    width: 100%;
    padding: 0 2%;
}
.row {
    padding: 0 2%;
}  
    
    
}



@media only screen and (max-width: 1023px){
    body{font-size:18px;}
    section{padding: 60px 0;}
    .long-copy{
        width: 80%;
        margin: 10%;
    }
    
    
    .steps-box{margin-top: 10px;}
    .works-steps{margin-bottom: 40px;}
    
}





@media only screen and (max-width: 767px){
    
    
    
    
    
}






@media only screen and (max-width: 480px){
    
    
    
    
    
}